## Minneapolis City Info

### Businesses

In [3]:
#Import libraries
import pandas as pd
import json

In [8]:
file_path="mpls_businesses.json"
with open(file_path, 'r') as file:
    data = json.load(file)

In [11]:
nested_data = data['features']
df = pd.json_normalize(nested_data)
df.head()

,attributes.category,attributes.status,attributes.issueDate,attributes.expirationDate,attributes.address,attributes.licensedUnits,attributes.ward,attributes.neighborhoodDesc,attributes.communityDesc,attributes.policePrecinct,attributes.shortTermRental,attributes.latitude,attributes.longitude,geometry.x,geometry.y
0,CONV,Active,1573121029000,1709251200000,5924 OLIVER AVE S,1,13,Armatage,Southwest,5,No,44.89592,-93.30775,-93.307754,44.895922
1,CONV,Active,1546848695000,1709251200000,5013 ALDRICH AVE N,1,4,Lind - Bohanon,Camden,4,No,45.04628,-93.29056,-93.290564,45.046278
2,CHOWNEXMPT,Active,1684762714000,1709251200000,3635 1ST AVE S,7,8,King Field,Southwest,5,No,44.93641,-93.27625,-93.276253,44.936412
3,CHOWN,Active,1608742650000,1740787200000,2001 GLENWOOD AVE,1,5,Harrison,Near North,4,No,44.98047,-93.30582,-93.305824,44.980465
4,CONV,Active,1593098341000,1709251200000,2311 LYNDALE AVE N,1,5,Hawthorne,Near North,4,No,45.00301,-93.28842,-93.288422,45.003012

In [12]:
df.shape

(22862, 15)

In [19]:
cat_wards = df.groupby(['attributes.category', 'attributes.ward'])['attributes.status'].count()
print(cat_wards)

attributes.category  attributes.ward
CHOWN                1                  962
                     10                 602
                     11                 279
                     12                 320
                     13                 359
                                       ...
ShrtTrmReg           5                   16
                     6                    6
                     7                   21
                     8                   28
                     9                   20
Name: attributes.status, Length: 78, dtype: int64